/*
MAIN CSS STYLES
used with Bootstrap

Kyle Lehmann
lehmannkylej@gmail.com
*/

/* BREAKPOINTS:

@media (max-width: 575.98px) {}
@media (min-width: 576px) {}

@media (max-width: 767.98px) {}
@media (min-width: 768px) {}

@media (min-width: 992px) {}
@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}
@media (min-width: 1200px) {}

*/

/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --blue-lt: #71A1D5;
  --blue-dk: #295675;
  --gray: #C7CFD6;
  --yellow: #F5AF18;
  --red: #C71C3B;
  --green: #23CC5F;
}

button, button:focus, button:hover {
  outline: none;
}

/* BODY */
body {
  background-color: var(--blue-dk);
  font-family: 'Jost', sans-serif;
}

/*---------*/


/* BUTTONS */
.button {
  padding: .5rem 1rem;
  font-size: 18px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.button:hover, .button:active, .button:focus {
  background-color: var(--green);
  color: #fff;
}

.button-apt {
  margin-top: 7rem;
  background-color: var(--yellow);
  color: #000;
}



/* CARDS */
.card {
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 20rem;
}

.card-photo-h1, .card-photo-h2 {
  text-align: center;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card-photo-h1 {
  font-size: 32px;
  padding: 3rem 0 0 0;
}

.card-photo-h2 {
  font-size: 18px;
  padding: .25rem 0 0 0;
}



/* NAV BAR */
.navbar {
  margin-top: 1rem;
}

.navbar-brand {
  height: 6rem;
  width: 17rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/gatlogo-dark.svg");
}

.navbar-brand:hover, .navbar-brand:focus {
  background-image: url("../img/gatlogo-dark-hover.svg")
}

.navbar-nav a {
  color: #FFF;
}

.navbar-nav a:hover, .navbar-nav a:focus, .navbar-nav a:active {
  color: var(--green);
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .navbar-nav > li{
    padding: .5rem 0 .25rem 0;
    font-size: 22px;
    text-align: right;
  }
@media (min-width: 992px) {
  .navbar-nav > li{
    margin-top: .10rem;
    padding: 0 .5rem;
    font-size: 20px;
  }
}
}

.navbar-toggler {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin-top: .5rem;
}

.navbar-toggler-icon {
  width: inherit;
  height: inherit;
  background-size: contain;
  background-image: url("../img/menu-circle.svg") !important;
}

.navbar-toggler-icon:hover, .navbar-toggler-icon:focus, .navbar-toggler-icon:active {
  background-image: url("../img/menu-circle-hover.svg") !important;
}



/* TEST CSS -- transfer to docs*/
.card-photo-test {
  background-position: right;
  background-image: url("../img/menutest.jpg") !important;
  color: #000;
}
