/*
MAIN CSS STYLES
used with Bootstrap

Kyle Lehmann
lehmannkylej@gmail.com
*/

/* BREAKPOINTS:

@media (max-width: 575.98px) {}
@media (min-width: 576px) {}

@media (max-width: 767.98px) {}
@media (min-width: 768px) {}

@media (min-width: 992px) {}
@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}
@media (min-width: 1200px) {}

*/

/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --blue-lt: #71A1D5;
  --blue-dk: #295675;
  --gray: #C7CFD6;
  --yellow: #F5AF18;
  --red: #C71C3B;
  --green: #23CC5F;
}

button, button:focus, button:hover {
  outline: none;
}

/* BODY */
body {
  background-color: var(--blue-dk);
  font-family: 'Jost', sans-serif;
}


/* GRID */
.container {
  padding-bottom: 30px !important;
}

.row:not(:last-of-type) {
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .col-md:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

/* GENERAL TEXT STYLES */
a, address {
  color: var(--blue-lt);
}

a:hover {
  color: var(--green);
}

dd {
  margin-bottom: 1rem;
}

dt {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  margin-top: .5rem;
}

dt:first-of-type {
  margin-top: 0;
}

dd:last-of-type, dl:last-of-type {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h2, h3 {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-family: 'Hind', sans-serif;
}

p:last-of-type {
  margin: 0;
}





/* BUTTONS */
.button {
  padding: .5rem .8rem;
  font-size: 18px;
  border: none;
  border-radius: 48px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.button:hover, .button:active, .button:focus {
  background-color: var(--green);
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #000;
}

.button-yellow {
  background-color: var(--yellow);
  color: #000;
}

.button-red {
  background-color: var(--red);
  color: #fff;
}



/* CARDS */
.card {
  border: none;
  padding: 1.25rem;
  border-radius: .5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 20rem;
  text-align: center;
}

.card-photo h1, .card-photo h2 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card-photo h1 {
  font-size: 32px;
  padding: 2rem 0 0 0;
}

.card-photo h2 {
  font-size: 18px;
  font-weight: 400;
  padding: .25rem 0 0 0;
}

.card-photo button {
  margin-top: 8rem;
}

.card-map {
  overflow: hidden;
  position: relative;
  height: 100%;
}

@media (max-width: 767.98px) {
  .card-map {
    padding-top: 75%;
  }
}

iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}



/* NAV BAR */
.navbar-brand {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/gatlogo-dark.svg");
}

.navbar-brand-container:hover, .navbar-brand-container:focus {
  background-image: url("../img/gatlogo-dark-hover.svg")
}

.navbar-nav a {
  color: #FFF;
}

.navbar-nav a:hover, .navbar-nav a:focus, .navbar-nav a:active {
  color: var(--green);
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .navbar-brand {
    width: 12rem;
    height: 4.03rem;
  }
  .navbar-nav > li{
    padding: .5rem 0 .25rem 0;
    font-size: 22px;
    text-align: right;
  }
  .navbar-nav > li:last-of-type {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    margin-top: 1rem;
    width: 18rem;
    height: 5.71rem;
  }
  .navbar {
    position: relative;
  }
  .navbar-nav {
      position: absolute;
      bottom: 0;
      right: 16px;
  }
  .navbar-nav > li{
    padding: 0 0 0 1.5rem;
    font-size: 20px;
  }
}


.navbar-toggler {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-toggler-icon {
  width: inherit;
  height: inherit;
  background-size: contain;
  background-image: url("../img/menu-circle.svg") !important;
}

.navbar-toggler-icon:hover, .navbar-toggler-icon:focus, .navbar-toggler-icon:active {
  background-image: url("../img/menu-circle-hover.svg") !important;
}



/* TEST CSS -- transfer to docs*/
.card-photo-test {
  background-position: right;
  background-image: url("../img/menutest.jpg") !important;
  color: #000;
}
